In [10]:
import pandas as pd
import mysql.connector
from mysql.connector import Error
from sqlalchemy import create_engine

In [5]:
df = pd.read_parquet("C:/Users/maty_/Desktop/Henry DS/LABS/GRUPAL TAXIS/df_ImparSQL.parquet", engine="pyarrow")

In [7]:
clima= pd.read_csv("C:/Users/maty_/Desktop/Henry DS/LABS/GRUPAL TAXIS/Proyecto-Taxis-NYC/new york 2018-01-01 to 2018-02-01.csv")

In [8]:
zonas = pd.read_csv("C:/Users/maty_/Desktop/Henry DS/LABS/GRUPAL TAXIS/Proyecto-Taxis-NYC/taxi+_zone_lookup.csv")

In [13]:
from multiprocessing import connection

#Creacion de variables
host_name,db_name, u_name, u_pass, port_num  = "localhost","taxi_1", "root", "root", "3306"

try:
    connection = mysql.connector.connect(
    host= host_name,
    user= u_name,
    password= u_pass,
    database= db_name
    )

    if connection.is_connected():
        print('Conexion exitosa')
        info_server = connection.get_server_info()
        print(info_server)
except Exception as ex:
    print(ex)

Conexion exitosa
8.0.28

In [12]:
#Creacion del motor de base de datos
engine = create_engine("mysql+mysqlconnector://" + u_name + ":" + u_pass + "@" 
                        + host_name + ":" + port_num + "/" + db_name, echo=False)

In [ ]:
#Importacion del dataframe a nuestra base de datos en SQL 
#CAMBIAR LOS NOMBRES DEL DF QUE QUEREMOS CARGAR Y EL NOMBRE QUE QUEREMOS QUE TENGA LA TABLA EN SQL

df.to_sql(name="Taxi", con=engine, if_exists="append", index=False)