In [60]:
import numpy as np
import pandas as pd
pd.options.mode.chained_assignment = None
pd.options.display.max_columns=None
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

In [61]:
df = pd.read_parquet("../Proyecto-Taxis-NYC/data/yellow_t_2018-01.parquet", engine="pyarrow")

In [62]:
df.drop(columns=["congestion_surcharge","airport_fee"], inplace=True)

In [63]:
df["hora"]= df.tpep_pickup_datetime.dt.floor("H")

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760687 entries, 0 to 8760686
Data columns (total 18 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        int64
 4   trip_distance          float64
 5   RatecodeID             int64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  hora                   datetime64[ns]
dtypes: datetime64[ns](3), float64(8), int64(6), object(1)
memory usage: 1.2+ GB

horarios

In [65]:
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'], format="%Y/%m/%d, %H:%M:%S")
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'], format="%Y/%m/%d, %H:%M:%S")
df['hora'] = pd.to_datetime(df['hora'], format="%Y/%m/%d, %H:%M:%S")

enteros

In [66]:
df['VendorID'] = pd.to_numeric(df['VendorID'], downcast="integer" )
df['passenger_count'] = pd.to_numeric(df['passenger_count'], downcast="integer" )
df['RatecodeID'] = pd.to_numeric(df['RatecodeID'], downcast="integer" )
df['PULocationID'] = pd.to_numeric(df['PULocationID'], downcast="integer" )
df['DOLocationID'] = pd.to_numeric(df['DOLocationID'], downcast="integer" )
df['payment_type'] = pd.to_numeric(df['payment_type'], downcast="integer" )
df['RatecodeID'] = pd.to_numeric(df['RatecodeID'], downcast="integer" )
df['RatecodeID'] = pd.to_numeric(df['RatecodeID'], downcast="integer" )

Flotantes

In [67]:
df['trip_distance'] = pd.to_numeric(df['trip_distance'], downcast="float" )
df['fare_amount'] = pd.to_numeric(df['fare_amount'], downcast="float" )
df['extra'] = pd.to_numeric(df['extra'], downcast="float" )
df['mta_tax'] = pd.to_numeric(df['mta_tax'], downcast="float" )
df['tip_amount'] = pd.to_numeric(df['tip_amount'], downcast="float" )
df['tolls_amount'] = pd.to_numeric(df['tolls_amount'], downcast="float" )
df['improvement_surcharge'] = pd.to_numeric(df['improvement_surcharge'], downcast="float" )
df['total_amount'] = pd.to_numeric(df['total_amount'], downcast="float" )

Object

In [68]:
df["store_and_fwd_flag"]=df["store_and_fwd_flag"].astype(str)

In [69]:
df.store_and_fwd_flag.unique()

array(['N', 'Y'], dtype=object)

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760687 entries, 0 to 8760686
Data columns (total 18 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int8
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        int8
 4   trip_distance          float32
 5   RatecodeID             int8
 6   store_and_fwd_flag     object
 7   PULocationID           int16
 8   DOLocationID           int16
 9   payment_type           int8
 10  fare_amount            float32
 11  extra                  float32
 12  mta_tax                float32
 13  tip_amount             float32
 14  tolls_amount           float32
 15  improvement_surcharge  float32
 16  total_amount           float32
 17  hora                   datetime64[ns]
dtypes: datetime64[ns](3), float32(8), int16(2), int8(4), object(1)
memory usage: 601.5+ MB

Clima

In [71]:
clima = pd.read_csv("C:/Users/andre/OneDrive/Escritorio/proyecto final 3/Proyecto-Taxis-NYC/new york 2018-01-01 to 2018-02-01.csv")
clima.drop(columns=["name","dew","humidity","precipprob","preciptype","severerisk","uvindex","icon","stations"], inplace=True)
clima.drop(columns=["windgust","windspeed","winddir","sealevelpressure","cloudcover","visibility","solarradiation","solarenergy"], inplace=True)
clima["datetime"]=[x.replace('T'," ") for x in clima["datetime"]]
clima.datetime = clima['datetime'].apply(pd.to_datetime)

In [72]:
clima.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    768 non-null    datetime64[ns]
 1   temp        768 non-null    float64
 2   feelslike   768 non-null    float64
 3   precip      768 non-null    float64
 4   snow        768 non-null    float64
 5   snowdepth   768 non-null    float64
 6   conditions  768 non-null    object
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 42.1+ KB

In [73]:
clima['temp'] = pd.to_numeric(clima['temp'], downcast="float" )
clima['feelslike'] = pd.to_numeric(clima['feelslike'], downcast="float" )
clima['precip'] = pd.to_numeric(clima['precip'], downcast="float" )
clima['snow'] = pd.to_numeric(clima['snow'], downcast="float" )
clima['snowdepth'] = pd.to_numeric(clima['snowdepth'], downcast="float" )
clima["conditions"]=clima["conditions"].astype(str)

In [74]:
clima.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    768 non-null    datetime64[ns]
 1   temp        768 non-null    float32
 2   feelslike   768 non-null    float32
 3   precip      768 non-null    float32
 4   snow        768 non-null    float32
 5   snowdepth   768 non-null    float32
 6   conditions  768 non-null    object
dtypes: datetime64[ns](1), float32(5), object(1)
memory usage: 27.1+ KB