In [74]:
import pandas as pd
import mysql.connector
from mysql.connector import Error
from sqlalchemy import create_engine
import mysql.connector as msql
import matplotlib.pyplot as plt

In [75]:
pd.options.mode.chained_assignment = None
pd.options.display.max_columns=None

In [76]:
df = pd.read_parquet("C:/Users/Ariel/Desktop/tp taxi 2/Proyecto-Taxis-NYC/df_ImparSQL.parquet", engine="pyarrow")

In [77]:
df = df.drop (columns='datetime')

In [78]:
df.head(2)

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,dayofmonth,PUBorough,DOLocation,hora,temp,feelslike,precip,snow,snowdepth,conditions
0,2018-01-03,2018-01-03,2,1.53,1,230,162,2,10.5,1.0,0.5,0.0,0.0,0.3,12.3,3,Manhattan,Manhattan,2018-01-03,-7.3,-13.5,0.0,0.0,0.33,Clear
1,2018-01-03,2018-01-03,1,4.75,1,88,230,2,21.0,0.0,0.5,0.0,0.0,0.3,21.8,3,Manhattan,Manhattan,2018-01-03,-7.3,-13.5,0.0,0.0,0.33,Clear

pandas._libs.tslibs.timestamps.Timestamp
df_Impar.tpep_pickup_datetime[1])

In [79]:
type(df.tpep_pickup_datetime[1])

pandas._libs.tslibs.timestamps.Timestamp

In [80]:
from datetime import datetime

#dt_object = datetime.fromtimestamp(df.tpep_pickup_datetime)

pandas.to_datetime()
df["date"] = pd.to_datetime(df.timestamp, unit="ms")

In [81]:
#df["tpep_pickup_datetime"] = pd.to_datetime(df.tpep_pickup_datetime.timestamp, unit="s")

In [82]:
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'], format="%Y/%m/%d, %H:%M:%S")

In [83]:
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'], format="%Y/%m/%d, %H:%M:%S")

In [84]:
df['hora'] = pd.to_datetime(df['hora'], format="%Y/%m/%d, %H:%M:%S")

In [85]:
# Connect to the MySQL using Python and create a Database

try:
    conn = msql.connect(host='127.0.0.1', user='root',  
                        password='root')#give ur username, password
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("CREATE DATABASE IF NOT EXISTS Taxis;")
        print("Database is created")
except Error as e:
    print("Error while connecting to MySQL", e)

Database is created

In [ ]:
df.info()

In [ ]:
df.PUBorough.unique()

In [86]:
df['PUBorough'] = df['PUBorough'].astype('str')

In [ ]:
#df['column'] = df['column'].astype('str')

In [88]:
df['PUBorough'] = df['PUBorough'].str.split(',')

In [90]:
import mysql.connector as msql
from mysql.connector import Error
try:
    conn = msql.connect(host='localhost', database='Taxis', user='root', password='root')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
        cursor.execute("CREATE TABLE Fare(tpep_pickup_datetime date,tpep_dropoff_datetime date,passenger_count integer,trip_distance decimal(10,2),RatecodeID integer,PULocationID integer,DOLocationID integer,payment_type integer,fare_amount decimal(10,2),extra decimal(10,2),mta_tax decimal(10,2),tip_amount decimal(10,2),tolls_amount decimal(10,2),improvement_surcharge decimal(10,2),total_amount decimal(10,2),dayofmonth integer,PUBorough varchar(225),DOLocation varchar(225),hora datetime,temp decimal(10,2),feelslike decimal(10,2),precip decimal(10,2),snow decimal(10,2),snowdepth decimal(10,2),conditions varchar(225))")
        print("Table is created....")
        #loop through the data frame
        for i,row in df.iterrows():
            #here %S means string values 
            sql = "INSERT INTO employee.employee_data VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
            cursor.execute(sql, tuple(row))
            print("Record inserted")
            # the connection is not auto committed by default, so we must commit to save our changes
            conn.commit()
except Error as e:
            print("Error while connecting to MySQL", e)

You're connected to database:  ('taxis',)
Table is created....
Error while connecting to MySQL Failed processing format-parameters; Python 'timestamp' cannot be converted to a MySQL type

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2908638 entries, 0 to 2908991
Data columns (total 25 columns):
 #   Column                 Dtype
---  ------                 -----
 0   tpep_pickup_datetime   datetime64[ns]
 1   tpep_dropoff_datetime  datetime64[ns]
 2   passenger_count        int64
 3   trip_distance          float64
 4   RatecodeID             int64
 5   PULocationID           int64
 6   DOLocationID           int64
 7   payment_type           int64
 8   fare_amount            float64
 9   extra                  float64
 10  mta_tax                float64
 11  tip_amount             float64
 12  tolls_amount           float64
 13  improvement_surcharge  float64
 14  total_amount           float64
 15  dayofmonth             int64
 16  PUBorough              object
 17  DOLocation             object
 18  hora                   datetime64[ns]
 19  temp                   float64
 20  feelslike              float64
 21  precip                 float64
 22  snow                   float64
 23  snowdepth              float64
 24  conditions             object
dtypes: datetime64[ns](3), float64(13), int64(6), object(3)
memory usage: 577.0+ MB

In [ ]:
CREATE TABLE proveedores ( 
razonSocial VARCHAR(50) NOT NULL,
observaciones VARCHAR(50) NOT NULL, 
codProvincia TINYINT UNSIGNED NOT NULL, 
fechaAlta DATE NOT NULL ) 
PARTITION BY LIST(codProvincia) ( 
PARTITION extremadura VALUES IN (1, 3), 
PARTITION aragon VALUES IN (2, 5, 8), 
PARTITION valencia VALUES IN (4, 9), 
PARTITION andalucia VALUES IN (6, 7, 10) );