In [10]:
import pandas as pd
import mysql.connector
from mysql.connector import Error
from sqlalchemy import create_engine
import mysql.connector as msql

In [8]:
df = pd.read_parquet("C:/Users/maty_/Desktop/Henry DS/LABS/GRUPAL TAXIS/df_ImparSQL.parquet", engine="pyarrow")

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2908638 entries, 0 to 2908991
Data columns (total 26 columns):
 #   Column                 Dtype
---  ------                 -----
 0   tpep_pickup_datetime   datetime64[ns]
 1   tpep_dropoff_datetime  datetime64[ns]
 2   passenger_count        int64
 3   trip_distance          float64
 4   RatecodeID             int64
 5   PULocationID           int64
 6   DOLocationID           int64
 7   payment_type           int64
 8   fare_amount            float64
 9   extra                  float64
 10  mta_tax                float64
 11  tip_amount             float64
 12  tolls_amount           float64
 13  improvement_surcharge  float64
 14  total_amount           float64
 15  dayofmonth             int64
 16  PUBorough              object
 17  DOLocation             object
 18  hora                   datetime64[ns]
 19  datetime               datetime64[ns]
 20  temp                   float64
 21  feelslike              float64
 22  precip                 float64
 23  snow                   float64
 24  snowdepth              float64
 25  conditions             object
dtypes: datetime64[ns](4), float64(13), int64(6), object(3)
memory usage: 599.2+ MB

In [11]:
# Connect to the MySQL using Python and create a Database

try:
    conn = msql.connect(host='localhost', user='root',  
                        password='root')#give ur username, password
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("CREATE DATABASE IF NOT EXISTS Taxis;")
        print("Database is created")
except Error as e:
    print("Error while connecting to MySQL", e)

Database is created

In [13]:
import mysql.connector as msql
from mysql.connector import Error
try:
    conn = mysql.connect(host='localhost', database='Taxis', user='root', password='root')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
        #cursor.execute('DROP TABLE IF EXISTS employee_data;')
        #print('Creating table....')
# in the below line please pass the create table statement which you want #to create
        cursor.execute("CREATE TABLE IF NOT EXIST Fare(first_name varchar(255),last_name varchar(255),company_name varchar(255),address varchar(255),city varchar(255),county varchar(255),state varchar(255),zip int,phone1 varchar(255),phone2 varchar(255),email varchar(255),web varchar(255))")
        print("Table is created....")
        #loop through the data frame
        for i,row in df.iterrows():
            #here %S means string values 
            sql = "INSERT INTO employee.employee_data VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
            cursor.execute(sql, tuple(row))
            print("Record inserted")
            # the connection is not auto committed by default, so we must commit to save our changes
            conn.commit()
except Error as e:
            print("Error while connecting to MySQL", e)

AttributeError: module 'mysql' has no attribute 'connect'

In [ ]:
# in the below line please pass the create table statement which you want #to create
        from numpy import integer


cursor.execute("CREATE TABLE IF NOT EXIST Fare(tpep_pickup_datetime datetime,tpep_dropoff_datetime datetime,passenger_count integer,trip_distance float,RatecodeID integer,PULocationID integer,DOLocationID integer,payment_type integer,fare_amount float,extra float,mta_tax float,tip_amount float,tolls_amount float,improvement_surcharge float,total_amount float,dayofmonth integer,PUBorough varchar(225),DOLocation varchar(225)hora datetime,datetime datetime,temp float,feelslike float,precip float,snow float,snowdepth float,conditions varchar(225))")
        print("Table is created....")
        #loop through the data frame
        for i,row in empdata.iterrows():
            #here %S means string values 
            sql = "INSERT INTO employee.employee_data VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
            cursor.execute(sql, tuple(row))
            print("Record inserted")
            # the connection is not auto committed by default, so we must commit to save our changes
            conn.commit()
except Error as e:
            print("Error while connecting to MySQL", e)

In [ ]:
CREATE TABLE proveedores ( 
razonSocial VARCHAR(50) NOT NULL,
observaciones VARCHAR(50) NOT NULL, 
codProvincia TINYINT UNSIGNED NOT NULL, 
fechaAlta DATE NOT NULL ) 
PARTITION BY LIST(codProvincia) ( 
PARTITION extremadura VALUES IN (1, 3), 
PARTITION aragon VALUES IN (2, 5, 8), 
PARTITION valencia VALUES IN (4, 9), 
PARTITION andalucia VALUES IN (6, 7, 10) );